$initial-degree: -130;
$rotate-interval: 36;
$icon-size: 36px;
$icon-number: 6;
$icons: 'signout''setting''message''history''mask';
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
    list-style: none;
}

.page {
    font-weight: bold;
    color: #FFF;
    font-size: 26px;
}

.mine {
    font-weight: bold;
    font-size: 30px;
    color: #079E6E;
}

.page>img,
.mine>img {
    width: 34px;
    height: 34px;
}

.user {
    position: absolute;
    left: 50px;
    top: 20px;
}

.user span {
    position: relative;
    left: 20px;
    top: -5px;
}

.comment {
    position: absolute;
    left: 40px;
    top: 64px;
    font-size: 45px;
}

.comment span {
    position: relative;
    top: -5px;
    left: 20px;
}

.comment img {
    width: 40px;
    height: 40px;
}

.posted {
    position: absolute;
    left: 30px;
    top: 115px;
}

.posted span {
    position: relative;
    left: 4px;
    top: -5px;
}

.like {
    position: absolute;
    left: 95px;
    top: 115px;
}

.like span {
    position: relative;
    left: 4px;
    top: -5px;
}

@mixin transition($property) {
    transition: $property;
    -moz-transition: $property;
    -webkit-transition: $property;
    -o-transition: $property;
    -ms-transition: $property;
}

.info-bar {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 80px;
    border-radius: 50%;
    background-color: #7E7E7E;
    @include transition(all 0.3s ease 0.27s);
    overflow: hidden;
    opacity: 0;
}

.center-button:hover .info-bar {
    width: 174px;
    height: 174px;
    left: -50px;
    top: -184px;
    opacity: 1;
    @include transition(all 0.3s ease 0.27s);
}

.center-button {
    margin: 0 auto;
    left: 0;
    right: 0;
}

.apb {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #6E6E6E;
    position: absolute;
    background-image: url("./assets/images/atplus_white.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @include transition(0.5s ease 0.27s);
    opacity: 0.6;
    background-color: rgba(48, 63, 159, 1);
    background-size: 80% 60%;
}

.center-button:hover .apb {
    background-color: rgba(48, 63, 159, 1);
    background-image: url("./assets/images/atplus_green.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 1;
    width: 70px;
    height: 70px;
}

.ring-menu {
    text-align: center;
    position: fixed;
    top: 500px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: $icon-size * 6;
    height: $icon-size * 6;
}

.ring-button {
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 35px;
    background-color: #6E6E6E;
    opacity: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    @include transition(all 0.3s ease 0.27s);
}

.ring-button-wrapper {
    height: $icon-size;
    width: $icon-size;
    position: absolute;
}

#control-ring {
    position: absolute;
    margin-left: 50px;
}

#control-ring-container {
    left: -65px;
    position: absolute;
    width: 210px;
    height: 210px;
    top: -40px;
    border-radius: 50%;
}

.unread {
    background-color: #F00;
    color: white;
    position: absolute;
    width: $icon-size / 2;
    height: $icon-size / 2;
    border-radius: 50%;
    text-align: center;
    right: -$icon-size / 8;
    top: -$icon-size / 8;
}

#button:hover .ring-button {
    opacity: 1;
}

#button:hover .ring-button:nth-child(1) {
    margin-top: 20px;
    margin-left: -30px;
    background-image: url('assets/images/nomask.png');
}

#button:hover .ring-button:nth-child(2) {
    margin-top: 60px;
    margin-left: -40px;
    background-image: url('assets/images/history.png');
}

#button:hover .ring-button:nth-child(3) {
    margin-top: 102px;
    margin-left: -26px;
    background-image: url('assets/images/message.png');
}

#button:hover .ring-button:nth-child(4) {
    margin-top: 129px;
    margin-left: 12px;
    background-image: url('assets/images/setting.png');
}

#button:hover .ring-button:nth-child(5) {
    margin-top: 128px;
    margin-left: 60px;
    background-image: url('assets/images/signin.png');
}