@-webkit-keyframes svgDraw {
    0% {
        stroke-dashoffset: 0;
    }
}

@keyframes svgDraw {
    to {
        stroke-dashoffset: 0;
    }
}

path {
    stroke-dasharray: 1;
    stroke-dashoffset: 20;
    fill: #fff;
    stroke: #333;
    -webkit-animation: svgDraw 3s linear reverse infinite;
    animation: svgDraw 3s linear reverse infinite;
}

.title {
    text-align: center;
}