/*
    Author: Howard Lau
    Organization: Sun Yat-sen University
    Date: 2018/9/16
*/
h1, h2, h3, h4, h5, h6 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Century Gothic", "Futura", "Verdana", sans-serif;
    text-decoration: underline;
    font-weight: normal;
    font-size: 18pt;
    letter-spacing: 0.2em;
}

h1 {
    font-size: 22pt;
    text-align: center;
    font-weight: bold;
}

body {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    background-image: url('./silverware.jpg');
    background-attachment: fixed;
}

.comment {
    font-style: italic;
    background-color: #FFFFC8;
}

a {
    color:  #A4A400;
}

ul {
    list-style-image: url('./pie_icon.gif');
}