* {
    text-align: center;
}

#puzzle {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.block {
    position: absolute;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
}